<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TBS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/b913739be3.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&family=Montserrat:wght@400;900&display=swap"
        rel="stylesheet">
</head>