<section id="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><i class="fa fa-pied-piper fa-lg" aria-hidden="true"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hotels">Hotel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Flight</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Combo</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Best offers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/hotels">Hotels</a>
                        <a class="dropdown-item" href="#">Flights</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Grand Combo Offers</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/<%=loggedIn ? "logout":"login" %>"><% if(loggedIn===true){ %>
                        
                        Logout
                        <% } else{ %>
                        Login <% } %>
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</section>