<%- include('./partials/header') %>

<body>
    <%- include('./partials/navbar')%>
    <div class="FZF">
        <div class="main">
            <div class="l-mid-content content-visible">
                <div class="l-mid-container">



                    <div class="PartialNotFound">

                        <div class="PartialNotFound-error"><span class="red">404:</span> Oops looks like the page you
                            were looking for cannot be found</div>

                        <img class="PartialNotFound-image" src="https://www.ask.com/s/0-4-83/404_error.jpeg"
                            alt="404 Not Found">





                    </div>
                </div>
                <div class="l-right-content content-visible">

                </div>
            </div>
        </div>
        <%- include('./partials/footer') %>