<%- include('./partials/header') %>

<body>
    <%- include('./partials/navbar')%> 
    <div class="FZF">
        <h1>404 Error</h1>
        <p>Oops.The page you are searching for is not available</p>
    </div>
    <%- include('./partials/footer') %>