<%- include("semantic-partials/header") %> 

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label for="blog[title]">Title</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>
        <div class="field">
            <label for="blog[image]">Image Url</label>
            <input type="text" name="blog[image]" placeholder="image">
        </div>
        <div class="field">
            <label for="blog[body]">Blog Content</label>
            <textarea name="blog[body]" id="" cols="30" rows="10" placeholder="Post goes here" required></textarea>
        </div>
        <input class="ui purple big basic button" type="submit">
    </form>
</div>

<%- include("semantic-partials/footer") %>