<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
    <body>
        <div class="ui fixed inverted  menu">
            <div class="ui container">
                <div class="header item"><a href="/blogs"><i class="code icon"></i>Blog Site</a></div>

                <a href="/" class="item">Home</a>
				<a href="/blogs" class="item">All Blogs</a>
                
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>